@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
    html {
        font-size: 18px;
    }

    .text-sm {
        /* ensure minimum font size of 16px */
        font-size: 0.9rem;
    }
}

body {
    font-family: 'Figtree', sans-serif;
}

.react-aria-Tabs {
    .react-aria-Tab {
        @apply focus:outline-none;
        @apply whitespace-nowrap border-b-2 px-3 py-3 text-sm font-medium;

        &[data-selected="true"] {
            @apply border-brand-500 text-brand-600;
        }

        &:not([data-selected="true"]) {
            @apply border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700;
        }
    }
}
