<p>Dear {{ user.display_name }},</p>

<p>
    We received a request to reset the password for your account at {{ SITE_NAME }}.
    If you made this request, please click on the link below to reset your password:
</p>
<p><a href="{{ password_reset_url}}">Reset Password</a></p>

<p>If you did not request a password reset, please ignore this email. Your password will remain unchanged.</p>

<p>
    For security reasons, this link will expire in {{ link_expires_in }},
    so please reset your password as soon as possible.
</p>

<p>
  For security, this request was received from a
  <i>{{ request_identity.os_family }} {{ request_identity.os_version }}</i>
  device (IP: {{ request_identity.ip_address }}) using
  <i>{{ request_identity.browser_family }} {{ request_identity.browser_version }}</i>
  at {% now "j F Y H:i:s e" %}.
</p>

<p>
    Best regards,<br>
    {{ SITE_NAME }} Team<br>
    {{ CONTACT_EMAIL }}
</p>
